div.web-pet{
    display: block;
    width: 100px;
    height: 100px;
    position: fixed;
    left: 160px;
    z-index: 9999;

    & > div.pet{
        width: 100px;
        height: 100px;
        cursor: move;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    & > div.pet-menu{
        width: 90px;
        height: 100px;
        position: absolute;
        right: -91px;
        top: 0px;
        border-radius: 4px;
        display: none;

        ul{
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            padding: 10px 0px;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            border-radius: 4px;

            li{
                position: relative;
                display: block;
                list-style: none;
                line-height: 36px;
                padding: 0 20px;
                margin: 0;
                font-size: 14px;
                color: #606266;
                cursor: pointer;
                outline: none;

                &:hover{
                    color: #2c84cc;
                }
            }
        }
    }

    & > div.pet-operate{
        position: absolute;
        bottom: -60px;
        left: -35px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 4px;
        max-height: 50px;
        min-height: 50px;
        min-width: 170px;
        max-width: 170px;
        overflow: hidden;
        // display: none;

        & > div{
            position: relative;
            top: 0;

            &.switch-anmiate{
                transition: top 0.5s;
            }

            .pet-operate-list{
                padding: 13px 10px;
    
                a{
                    cursor: pointer;
                }
            }
    
            .pet-operate-content{
                padding: 10px 10px;
    
                input{
                    width: 100px;
                    display: block;
                    height: 18px;
                    padding: 5px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #555;
                    background-color: #fff;
                    background-image: none;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    outline: none;
                }
            }

        }

    }
}
