div.web-pet{
    
    *{
        box-sizing: border-box;
    }
    
    display: block;
    width: 100px;
    height: 100px;
    position: fixed;
    left: 160px;
    top: 160px;
    z-index: 9999;

    //  本体
    & > div.pet{
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: move;
    }

    //  消息
    & > section.pet-message{
        display: table;
        position: absolute;

        width: 0px;
        height: 0px;

        right: 100px;
        bottom: 50px;

        background: white;
        border-radius: 10px;
        text-align: center;
        padding: 10px 0px;
        color: #555;
        z-index: 1;
        box-shadow:
                -4px 0 4px rgba(7,17,27,.1),
                4px 0 4px rgba(7,17,27,.1), 
                0 -4px 4px rgba(7,17,27,.1),
                0 4px 4px rgba(7,17,27,.1);

        .pet-msg{
            font-size: 14px;
            display: none;
            padding: 0px 5px;
        }

        .pet-msg-operate{
            padding-top: 10px;
            width: 100%;

            .msg-btn{
                &.confirm{
                    background-color: #a3dd82;
                }
                &.cancel{
                    color: #555;
                    background-color: #efefef;
                }
                color: #fff;
                border: none;
                box-shadow: none;
                border-radius: 5px;
                font-weight: 600;
                font-size: 14px;
                padding: 5px 14px;
                margin: 0px 5px;
                cursor: pointer;
            }
        }
    }

    //  菜单
    & > div.pet-menu{
        width: 90px;
        height: 100px;
        position: absolute;
        right: -91px;
        top: 0px;
        border-radius: 4px;
        display: none;

        ul{
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            padding: 10px 0px;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            border-radius: 4px;

            li{
                position: relative;
                display: block;
                list-style: none;
                line-height: 36px;
                padding: 0 20px;
                margin: 0;
                font-size: 14px;
                color: #606266;
                cursor: pointer;
                outline: none;

                &:hover{
                    color: #2c84cc;
                }
            }
        }
    }

    //  操作区域
    & > div.pet-operate{
        position: absolute;
        bottom: -60px;
        left: -35px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 4px;
        max-height: 50px;
        min-height: 50px;
        min-width: 170px;
        max-width: 170px;
        overflow: hidden;
        display: none;
        background-color: rgba(255, 255, 255, 0.9);

        & > div{
            position: relative;
            top: 0;

            &.switch-animate{
                transition: top 0.5s;
            }

            .pet-operate-list{
                padding: 13px 10px;
    
                a{
                    cursor: pointer;
                }
            }
    
            .pet-operate-content{
                position: relative;
                padding: 10px 5px;

                .return-btn{
                    float: right;
                    width: 19%;
                    height: 30px;
                    border: none;
                    box-shadow: none;
                    border-radius: 5px;
                    font-weight: 600;
                    font-size: 12px;
                    color: #fff;
                    background-color: #e64942;
                    padding: 0px;
                    margin: 0px;
                    cursor: pointer;
                }
    
                .pet-chat{
                    float: left;
                    width: 79%;
                    display: block;
                    height: 30px;
                    padding: 5px 10px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #555;
                    background-color: #fff;
                    background-image: none;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
            }

        }

    }

}

.pet-paw-warp{
    display: block;
    width: 100px;
    height: 100px;
    position: fixed;
    left: 160px;
    top: 0px;
    z-index: 9998;

    .pet-paw-list {
        position: absolute;
        width: 10px;
        left: 50%;
        bottom: 25%;
        transform-origin: 100% 100%;
        transform: rotate(360deg);
        font-size: 50px;
        color: rgb(53, 152, 220);
    
        & > svg{
            display: none;
        }
 
        .pet-paw {
            width: 20px;
            height: 30px;
            animation: 3050ms pawAnimation ease-in 1;
            opacity: 0;
            position: absolute;
    
            svg {
                width: 100%;
                height: 100%;
            }
    
            .icon {
                fill: currentColor;
            }
            // 第一个脚
            &:nth-child(odd) {
                transform: rotate(-10deg);
            }
            // 第二个脚
            &:nth-child(even) {
                transform: rotate(10deg) translate(125%, 0);
            }
        }

    }
    
    @keyframes pawAnimation {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}
